* {
    font-family: SF Pro Display, sans-serif;
    text-decoration: none;
}

.mainPage{
    display: flex;
    background-color: white;
}

.mainPage__right{
    max-width: 640px;
    width: 100%;
    margin: 0 80px 0 100px;
}

.homeTitle{
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    margin-bottom:0;
}

.section{
    display: flex;
    column-gap: 10px;
    width: 100%;
}

.sectionsTitle{
    font-size: 19px;
    font-weight: 600;
    line-height: 22px;
    display: grid;
    place-content: center;
    padding: 15px 30px;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    cursor: pointer;
}

.sectionsTitle.active{
    background-color: black;
    color: white;
}

.list{
    display: none;
}
.list.active{
    display: block;
}

.suggest{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.user{
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.title{
    margin-bottom: 2px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    line-height: 17px;
    color: #141414;
}
.subtitle{
    margin-top: 2px;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    color: #999999;
}

.btn{
    font-size: 14px;
    font-weight: 400;
    width: 210px;
    border-color: #D9D9D9;
    line-height: 15px;
    color: #999999;
    background-color: transparent;
    border-radius: 8px;
    padding: 8px 20px;
    cursor: pointer;
}
