.tabBar{
    padding: 30px 42px 0 42px;
    width: 200px;
    background-color: white;
    border-right: 1px solid grey;
    height: calc(100vh + 50vh);
}

.positionFixed{
    display: flex;
    flex-direction: column;
    width: 242px;
    height: calc(100vh + 50vh);
    border-right: 1px solid grey;
    row-gap: 30px;
    position: fixed;
}

.tab__logo{
    margin-bottom: 40px;
    cursor: pointer;
}

.tab__asideText{
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}

.tab__text{
    font-family: SF Pro Display, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 19px;
    color: #141414;
    text-decoration: none;
}

.tab__asideText:hover .tab__text{
    font-weight: 700;
}

.content{
    margin-top: 230px;
}

.aside{
    max-width: 256px;
    width: 100%;
    padding-top: 120px;

}

.suggest{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.user{
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.title{
    margin-bottom: 2px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    line-height: 17px;
    color: #141414;
    width: 100px;
    word-wrap: break-word;
}
.subtitle{
    margin-top: 2px;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    color: #999999;
}

.switch{
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    line-height: 13px;
    color: #3E95EF;
}

.suggested{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.btn{
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    color: #999999;
    background-color: transparent;
    border-radius: 8px;
    padding: 8px 20px;
    border: 1px solid #D9D9D9;
    cursor: pointer;
}

.button{
    color: black;
}

.border{
    border: 1px solid #999999;
    padding: 3px;
    border-radius: 8px;
}

.tab__none{
    display: none;
}