.mainModal{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    z-index: 9;
    transition: .5s;
}

.mainModal.active{
    opacity: 1;
    pointer-events: all;
    cursor: auto;
}

.mainModal__content{
    padding: 44px 32px;
    border-radius: 13px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
    margin-left: 262px;
    margin-top: 100px;
    height: 256px;
    width: 420px;
    transform: scale(0.5);
    transition: .5s all;
}

.modalMain__content.active{
    transform: scale(1);
}

.modal__filter{
    width: 100%;
}

.modalFilter{
    display: flex;
    align-items: center;
    padding-right: 20px;
    justify-content: space-between;
}

.modalFilter__text{
    font-family: SF Pro Display,sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 52px;
    color: #141414;
    border: none;
    background-color: transparent;
    cursor: pointer;
}


.filter__btn{
    padding: 15px 15px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}


